body {
    margin: 0px;
    background: #4472C4;
}

.header {
    background: #ffffff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.container{
    width: 400px;
    margin: 30px auto;    
}

.footer{
    margin:10px;
    text-align: center;
    padding:25px;
}

#error{
    color:red;
    text-align:center;
}

/* Login */
#login-form{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background:#ffffff;
    border-radius:15px;
    margin:0px;
}

.heading{
    text-align: center;
    padding: 30px 0px;
    margin:0px;
}

.login-form-row{
    text-align: center;
    margin: 30px 0px;
}

.login-label{
    display:block;
    margin-bottom: 10px;
}

#username, #password{
    border-radius:15px;
    background: #ddd;
    border: black solid 1px;
    padding: 10px;
    text-align: center;
}

#login-submit{
    border-radius:15px;
    border:none;
    padding: 10px 20px;
    margin-bottom:25px;
    background: #42b0f5;
    color: #ffffff;
}

/* Workspace */
.workspace-content{
    background:#ffffff;
    margin: 20px 50px;
    border: solid black 1px; 
}

#workspace-list{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px 10px;
}

.workspace-item{
    background: #ffffff;
    border-radius: 15px;
    text-align:center;
    margin:5px;
    padding: 5px;
    box-shadow: 0px 0px 5px #000;
}

.workspace-link{
    text-decoration:none;
    color:#000000;
}

/* sidebar*/
.sidebar{
    display:flex;
    margin-top:10px;
}

.sidebar-item{
    margin:0px;
    padding: 10px;
    background:white;
}

.sidebar-item-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    background:white;
}

.sidebar-item, .sidebar-item-container{
        border: black solid 3px;       
    }

.sidebar-item-img, .sidebar-item-arrow{
    width: 30px;
}

.sidebar-item-text{
    margin:5px;
}

.divider{
    flex-basis: 100%;
}
@media only screen and (min-width: 600px){
    .sidebar{
    position:absolute;
        left: 10px;
        flex-direction: column;
    }

    .sidebar-item, .sidebar-item-container{
        border-bottom: none;        
    }
    
    .sidebar-container-last{
         border-bottom: black solid 3px;
    }
}

@media only screen and (max-width: 600px){
    .sidebar{
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
    }

    .sidebar-item , .sidebar-item-container{
        border: black solid 3px;
        border-right: none;
    }
    
    .sidebar-item{
        text-align: center;
    }
    
    .sidebar-item-container{
        border-top: black solid 3px;
    }

    .sidebar-item-last{
        border-right: none;
    }
    
    .sidebar-container-last{
        border-right: black solid 3px;
    }

    .sidebar-item-img, .sidebar-item-arrow{
        display: none;
    }
}
/* Dashboard */
.content{
    background:white;
    margin-top: 20px;
    border: solid black 1px;
}

@media only screen and (min-width: 600px){
    .content{
        margin-left: 200px;
        margin-right: 40px;
    }
}

@media only screen and (max-width: 600px){
    .content{
        margin: 10px 20px;
    }
}

.addTaskContainer{
   padding:15px;
    background:white;
    text-align: center;
}

.content-heading{
     box-shadow: 0px 1px 4px rgba(0, 0, 0, 50%);
}

#addTask{
    
}

#dashboard-sort{
    text-align: center;
    padding: 15px;
   
}

#dashboard-itemlist{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.dashboard-item{
    background: #ffffff;
    border-radius: 15px;
    text-align:center;
    margin:5px;
    padding: 15px;
    box-shadow: 0px 0px 5px #000;
}

.dashboard-item-img{
    width:40px;
}

.dashboard-item-text{
    margin:0px;
    padding:0px;
    max-width:200px;
}

.dashboard-item-btn{
    border-radius:15px;
    border:none;
    margin:5px;
    background: #EFEFEF;
    color:#000000;
    border:solid 1px black;
}

.unassigned{
    background: #ff7070;
}

.incomplete{
    background: #fff170;
}

.completed{
    background: #70ff7c;
}

.selected{
    background: #ccc;
}

#logout{
    background: #69ffa0;
    text-decoration: none;
    color: #000000;
}

#changeWorkplace{
    background: #ff7369;
    text-decoration: none;
    color: #000000;
}

#addTask{
    background: #69ffa0;
    text-decoration: none;
    color: #000000;
}

/* Add and Update Task Pages*/

.task-form{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background:#ffffff;
    border-radius:15px;
    margin:0px;
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.task-header, .task-text, .task-submit{
    flex-basis:100%;
    text-align:center;
}

.task-text, .task-submit{
    margin:25px 0px;
}

.task-input-container{
    flex-basis:40%;
    text-align: center;
}

.task-label{
    display:block;
    margin-bottom: 10px;
}

#task-user, #task-status, #task-text{
    background:#eeeeee;
    border-radius:15px;
    border: black solid 1px;
    padding: 5px;
    text-align: center;
}

#task-text{
    resize: none;
}

#task-submit{
    border-radius:15px;
    border:none;
    padding: 10px 20px;
    margin-bottom:25px;
    background: #42b0f5;
    color: #ffffff;
}


