body {
    margin: 0px;
}

header {
    background: #ffffff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

footer {
    background: #000000;
    color: #ffffff;
    text-align:center;
    padding: 9px;
}

body.login {
    background: #EEEEEE;
}

div.login {
    text-align: center;
    height: 80%px;
    padding: 40px 30%;
}

form.login {
    height:80%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

input {
    text-align: center;
    margin-top: 20px;
    width: 40%;
}

.submitbtn {
    margin: 60px 0px;
    width 20%;
    background: #34a1eb
    border-radius: 15px;
}
