body {
    margin: 0px;
}

header {
    background: #ffffff;
}

footer {
    background: #000000;
    color: #ffffff;
}

body.login {
    background: #EEEEEE;
}

div.login {
    text-align: center;
    padding: 30px 0px;
    border-radius: 15px;
    border-color: #000000;
    border-width: 1px;
}

