body {
    margin: 0px;
}

header {
    background: #ffffff;
}

footer {
    background: #000000;
    color: #ffffff;
}

body.login {
    background: #EEEEEE;
}

div.login {
    text-align: center;
}

form.login {
    margin: 10px;
    padding-top: 10px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

